@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

h1 {
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    overflow: hidden; 
    border-right: .15em solid orange;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.container {
    position: relative;
    max-width: 1350px;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    margin: 50px auto;
}

.filter_button { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); 
    transition: background-color 0.3s ease;
}

button:hover { 
    background-color: #555;
}

button.active { 
    background-color: #007BFF;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.gallery img { 
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
} 

.gallery img:hover { 
    transform: scale(1.05); box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}